@page "/"
@using BlazorApp.Client.Utils;

<div class="jumbotron">
    <h1>Administration für den MeetUpPlanner</h1>

    <p class="lead">Die Administrator-WebApp zum MeetUpPlanner.</p>
    <hr class="my-4" />
    <AuthorizeView>
        <Authorized>
            <p>
                @if (context.User.IsInRole(Constants.RoleAdmin) || context.User.IsInRole(Constants.RoleTenantAdmin))
                {
                    <p>
                        Du bist Administrator und damit berechtigt für Administrationsfunktionen, wähle eine der Optionen aus dem Menü.
                    </p>
                    <a href="/TenantList">Zur Mandantenliste ...</a>
                }
                else
                {
                    <p>
                        Du bist zwar angmeldet aber hast noch keine Berechtigungen für die Administration.
                    </p>
                }
            </p>
        </Authorized>
        <NotAuthorized>
            <p>
                Um diese Anwendung zu nutzen, muss man angemeldet sein und als entsprechend berechtigt sein.
                <a href="/LoginProviders">Anmelden</a>
            </p>
        </NotAuthorized>
    </AuthorizeView>
</div>


