@page "/"
@using BlazorApp.Client.Utils;
@inject NavigationManager NavigationManager


<div class="jumbotron">
    <h1>Administration für den MeetUpPlanner</h1>

<p class="lead">Die Administrator-WebApp zum MeetUpPlanner.</p>
<p>
    Die Administration der Mandanten und ihrer Einstellungen ist aus Security-Gründen in diese App gewandert. Nur mit einer Authentifizierung bei einem der 
    Dienste von Microsoft, Google, Facebook, GitHub oder Twitter und der Zuweisung der notwendigen Berechtigungen ist der Zugriff möglich.
</p>
<p>
    Auch diese App ist als Open Source auf GitHub verfügbar: <a href="https://github.com/rbrands/AdminMeetUpPlanner" title="GitHub-Source" target="_blank">https://github.com/rbrands/AdminMeetUpPlanner</a>
</p>
<hr class="my-4" />
<AuthorizeView>
    <Authorized>
        @if (context.User.IsInRole(Constants.RoleAdmin) || context.User.IsInRole(Constants.RoleTenantAdmin))
        {
            <p>
                Du bist Administrator und damit berechtigt für Administrationsfunktionen.
            </p>
            <a href="/TenantList">Los geht's ...</a>
        }
        else
        {
            <p>
                Du bist zwar angmeldet aber hast noch keine Berechtigungen für die Administration.
            </p>
        }
    </Authorized>
        <NotAuthorized>
            <p>
                Um diese Anwendung zu nutzen, muss man angemeldet sein und als entsprechend berechtigt sein.
                <a href="/LoginProviders">Anmelden</a>
            </p>
        </NotAuthorized>
    </AuthorizeView>
</div>


